body {
  height: 100vh;
  padding: 0;
  margin: 0;
  gap: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-picker-wrapper {
  --side-length: 80px;
  background-color: hsl(152, 100%, 65%);
  border-radius: calc(var(--side-length) / 2);
}

.color-picker {
  display: block;
  width: var(--side-length);
  height: var(--side-length);
  border: 0;
  opacity: 0;
}

.grid-line-toggle {
  background-color: hsl(152, 100%, 85%);
  color: hsl(0, 0%, 10%);
  padding: 8px 12px;
  border: 0;
  border-radius: 5px;
  transition: background-color 150ms ease-out;
}

.grid-line-toggle:hover {
  background-color: hsl(152, 100%, 70%);
}

.grid-line-toggle:active {
  background-color: hsl(152, 100%, 50%);
  transition: background-color 50ms ease-out;
}

.canvas {
  box-shadow: hsla(0, 0%, 0%, 30%) 0 0 8px 2px;
  user-select: none;
}

.row {
  display: flex;
}

.pixel {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid hsla(0, 0%, 0%, 10%);
}

.canvas.hide-grid-lines .pixel {
  border-color: transparent;
}

.row:nth-child(1) > .pixel { border-top-width: 0; }
.row:nth-last-child(1) > .pixel { border-bottom-width: 0; }
.row > .pixel:nth-child(1) { border-left-width: 0; }
.row > .pixel:nth-last-child(1) { border-right-width: 0; }
